//:configuration = Debug
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 9.0
MACOSX_DEPLOYMENT_TARGET = 10.13

PRODUCT_BUNDLE_IDENTIFIER = com.realm

SUPPORTED_PLATFORMS = iphoneos iphonesimulator
TARGETED_DEVICE_FAMILY = 1,2

CLANG_CXX_LANGUAGE_STANDARD = c++17
GCC_C_LANGUAGE_STANDARD = gnu99
SWIFT_VERSION = 5.0

CLANG_ENABLE_MODULES = YES;
CLANG_ENABLE_OBJC_ARC = YES;
CLANG_WARN_ASSIGN_ENUM = YES;
CLANG_WARN_BOOL_CONVERSION = YES;
CLANG_WARN_CONSTANT_CONVERSION = NO;
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR;
CLANG_WARN_DOCUMENTATION_COMMENTS = YES;
CLANG_WARN_EMPTY_BODY = YES;
CLANG_WARN_ENUM_CONVERSION = YES;
CLANG_WARN_INFINITE_RECURSION = YES;
CLANG_WARN_INT_CONVERSION = NO;
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR;
CLANG_WARN_SUSPICIOUS_MOVE = YES;
CLANG_WARN_UNREACHABLE_CODE = YES;
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES;
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES;
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES;
CLANG_WARN_STRICT_PROTOTYPES = NO;
CLANG_WARN_COMMA = YES;
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES;
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES;
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES;
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES;
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = NO

GCC_NO_COMMON_BLOCKS = YES;
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES;
GCC_WARN_64_TO_32_BIT_CONVERSION = NO;
GCC_WARN_ABOUT_MISSING_NEWLINE = YES;
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO;
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR;
GCC_WARN_SIGN_COMPARE = YES;
GCC_WARN_UNDECLARED_SELECTOR = YES;
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE;
GCC_WARN_UNKNOWN_PRAGMAS = YES;
GCC_WARN_UNUSED_FUNCTION = NO;
GCC_WARN_UNUSED_PARAMETER = NO;
GCC_WARN_UNUSED_VARIABLE = NO;
GCC_WARN_SIGN_COMPARE = NO;

WARNING_CFLAGS = -Wmismatched-tags -Wunused-private-field -Wpartial-availability;
OTHER_CPLUSPLUSFLAGS = -fno-aligned-allocation -fvisibility=hidden

//IS_MACCATALYST[sdk=iphone*] = NO
//LIBS_PATH_NO = $(SRCROOT)/../../libs/build/iOS/$(arch)
//LIBS_PATH_NO[sdk=iphonesimulator*] = $(SRCROOT)/../../libs/build/iOS-Simulator/$(arch)
//LIBS_PATH_NO[sdk=macosx*] = $(SRCROOT)/../../libs/build/macOS/$(arch)
//LIBS_PATH_YES[sdk=macosx*] = $(SRCROOT)/../../libs/build/Catalyst/$(arch)

SYSTEM_HEADER_SEARCH_PATHS = src genfiles
//HEADER_SEARCH_PATHS = . realm genfiles

//OTHER_LDFLAGS = $(inherited) -lprotobuf -lz

VERSION = REALM_VERSION_MAJOR=10 REALM_VERSION_MINOR=0 REALM_VERSION_PATCH=0 REALM_VERSION_STRING='"10.0.0-alpha"'

ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(VERSION)

